<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CloudTrade</display-name>
  <welcome-file-list>
    
    <welcome-file>MainIndex.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
   <servlet-name>PostServlets</servlet-name>
   <servlet-class>servlets.PostServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlets</servlet-name>
    <url-pattern>/WebContent/admin/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>ManCategoriesServlet</servlet-name>
   <servlet-class>servlets.ManCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManCategoriesServlet</servlet-name>
    <url-pattern>/WebContent/admin/ManageCategory</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>BuyerLoginServlet</servlet-name>
   <servlet-class>servlets.BuyerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerLoginServlet</servlet-name>
    <url-pattern>/WebContent/frontend/BuyerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/WebContent/admin/Login</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>AdminLoginServlet</servlet-name>
   <servlet-class>servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductsServlet</servlet-name>
    <url-pattern>/WebContent/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>AddProductsServlet</servlet-name>
   <servlet-class>servlets.AddProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrdersServlet</servlet-name>
    <url-pattern>/WebContent/MyOrders</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>MyOrdersServlet</servlet-name>
   <servlet-class>servlets.MyOrdersServlet</servlet-class>
  </servlet>
</web-app>